body {
  /*background-image: url('icons_background/blurred-back.jpeg');
  background-size: cover;
  background-attachment: fixed;*/
  background: linear-gradient(to bottom, #7e6495, #8c8ccb);
}

#msg {
  font-family: monospace;
}

.nickname {
font-family: Georgia;
display: flex; /* Crea un contenitore flessibile per l'icona */
align-items: center; /* Allinea verticalmente l'icona al centro */
justify-content: center; /* Allinea orizzontalmente l'icona al centro */
padding-top: 30px;
color: rgb(255, 255, 255);
font-weight: 700;
font-size: 21px;
line-height: 1.5;
}

.intest {
  font-family: Arial;
  display: flex; /* Crea un contenitore flessibile per l'icona */
  align-items: center; /* Allinea verticalmente l'icona al centro */
  justify-content: center; /* Allinea orizzontalmente l'icona al centro */
  padding-top: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  line-height: 1.5;
}

.subintest {
  font-family: sans-serif;
  display: flex; /* Crea un contenitore flessibile per l'icona */
  align-items: center; /* Allinea verticalmente l'icona al centro */
  justify-content: center; /* Allinea orizzontalmente l'icona al centro */
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

.bkg {
  color: #ffffff;
}

.container {
  position: relative;
}

.round-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  position: relative;
  top: 30px;
}

.round-edge {
  border-radius: 20px; /* Crea un bordo tondeggiante */
}


#bio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  /*padding-bottom: 10px;*/
}


.center-icon-container {
  display: flex; /* Crea un contenitore flessibile per l'icona */
  align-items: center; /* Allinea verticalmente l'icona al centro */
  justify-content: center; /* Allinea orizzontalmente l'icona al centro */
  padding-bottom: 20px;
}

.icon-link {
  text-decoration: none; /* Rimuove la sottolineatura del link */
  color: rgb(255, 255, 255); /* Imposta il colore dell'icona */
}


.TextAlignCenter {
display: flex; /* Crea un contenitore flessibile per l'icona */
align-items: center; /* Allinea verticalmente l'icona al centro */
justify-content: center; /* Allinea orizzontalmente l'icona al centro */
padding-bottom: 20px;
/*padding-right: 100;*/
}

